<table background=<%=$background%> cellpadding="0" cellspacing="0">
<tr>
  <td>
    <a href="button0"><img src=<%=$tile_imgs[0]%>></a>
  </td><td>
    <a href="button1"><img src=<%=$tile_imgs[1]%>></a>
  </td><td>
    <a href="button2"><img src=<%=$tile_imgs[2]%>></a>
  </td>
</tr><tr>
  <td>
    <a href="button3"><img src=<%=$tile_imgs[3]%>></a>
  </td><td>
    <a href="button4"><img src=<%=$tile_imgs[4]%>></a>
  </td><td>
    <a href="button5"><img src=<%=$tile_imgs[5]%>></a>
  </td>
</tr><tr>
  <td>
    <a href="button6"><img src=<%=$tile_imgs[6]%>></a>
  </td><td>
    <a href="button7"><img src=<%=$tile_imgs[7]%>></a>
  </td><td>
    <a href="button8"><img src=<%=$tile_imgs[8]%>></a>
  </td>
</tr>
</table>
<div style="
  position: relative;
  top: 10px;
  left: 220px;">
  <a href="bottom_button"><img src=<%=$bottom_button_img%>></a> <br/>
  <%=$display_message%>
</div>
